In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import re
from matplotlib.ticker import MaxNLocator
import matplotlib.pyplot as plt
from requests import get
from bs4 import BeautifulSoup
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [10]:
DATA_PATH = "data/"
AFDB_2019 = "afdb_1960_2019/Data.csv"
db_zero = pd.read_csv(DATA_PATH + AFDB_2019, sep=',')
db_zero.head()

,CountryName,Country,IndicatorName,Indicator,Units,Scale,Frequency,Date,Value
0,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2000-01-01,9.133374
1,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2001-01-01,8.535367
2,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2002-01-01,7.238168
3,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2003-01-01,7.217622
4,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2004-01-01,7.373657

In [11]:
db = db_zero.copy()

In [12]:
db.Date = db.Date.apply(lambda x : x.split("-")[0]).astype(int).rename("Year")
db.head()

,CountryName,Country,IndicatorName,Indicator,Units,Scale,Frequency,Date,Value
0,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2000,9.133374
1,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2001,8.535367
2,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2002,7.238168
3,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2003,7.217622
4,AFRICA,AFR,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,annual %,1,A,2004,7.373657

In [ ]:
db = db.groupby(['Country','Date'])
top_authors[['authors','H5-Index','id']].groupby(['authors','H5-Index']).count().rename(columns={'id':'papers published'}).sort_index(ascending=False)